/node_modules/
Keys/localhost.*
/Libraries/**/coverage/
/Libraries/**/lib/
/Libraries/**/node_modules/
/Modules/**/coverage/
/Modules/**/lib/
/Modules/**/node_modules/
/Modules/**/.env
/Plugins/**/coverage/
/Plugins/**/lib/
/Plugins/**/node_modules/
/Services/**/.env
/Tools/**/coverage/
/Tools/**/lib/
/Tools/**/node_modules/
/Tools/**/.env
